<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Admin0:</strong>
  <%= @school.admin0 %>
</p>

<p>
  <strong>Admin1:</strong>
  <%= @school.admin1 %>
</p>

<p>
  <strong>Admin2:</strong>
  <%= @school.admin2 %>
</p>

<p>
  <strong>Admin3:</strong>
  <%= @school.admin3 %>
</p>

<p>
  <strong>Admin4:</strong>
  <%= @school.admin4 %>
</p>

<p>
  <strong>Admin code:</strong>
  <%= @school.admin_code %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @school.admin_id %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @school.altitude %>
</p>

<p>
  <strong>Availability connectivity:</strong>
  <%= @school.availability_connectivity %>
</p>

<p>
  <strong>Connectivity:</strong>
  <%= @school.connectivity %>
</p>

<p>
  <strong>Country:</strong>
  <%= @school.country %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @school.country_code %>
</p>

<p>
  <strong>Datasource:</strong>
  <%= @school.datasource_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<p>
  <strong>Educ level:</strong>
  <%= @school.educ_level %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @school.electricity %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @school.environment %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @school.filename %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @school.frequency %>
</p>

<p>
  <strong>Latency connectivity:</strong>
  <%= @school.latency_connectivity %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @school.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @school.lon %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Num classrooms:</strong>
  <%= @school.num_classrooms %>
</p>

<p>
  <strong>Num latrines:</strong>
  <%= @school.num_latrines %>
</p>

<p>
  <strong>Num teachers:</strong>
  <%= @school.num_teachers %>
</p>

<p>
  <strong>Num students:</strong>
  <%= @school.num_students %>
</p>

<p>
  <strong>Num sections:</strong>
  <%= @school.num_sections %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @school.phone_number %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @school.postal_code %>
</p>

<p>
  <strong>Speed connectivity:</strong>
  <%= @school.speed_connectivity %>
</p>

<p>
  <strong>Type connectivity:</strong>
  <%= @school.type_connectivity %>
</p>

<p>
  <strong>Type school:</strong>
  <%= @school.type_school %>
</p>

<p>
  <strong>Water:</strong>
  <%= @school.water %>
</p>

<p>
  <strong>Has Probe Data:</strong>
  <%= @school.hasProbeData %>
</p>

<p>
  <strong>Probe ID:</strong>
  <%= @school.probe_id %>
</p>

<p>
  <strong>Probe provider:</strong>
  <%= @school.probe_provider %>
</p>

<p>
  <strong>ISP ID:</strong>
  <%= @school.isp_id %>
</p>

<p>
  <strong>School_id:</strong>
  <%= @school.school_id %>
</p>
<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
